
.main{
    display: flex;
    flex-direction: column; 
    align-items: center;
    padding: 20px;
    h1{
        font-size: 3rem;
        margin: 16px 0 8px;
        color: #ab03ee;
    }

    button{
        padding: 15px 25px;
        font-size: 1rem;
        border: none;
        border-radius: 12px;

        background: var(--gradient_main);
        color: white;
        font-weight: bold;
        
        
        display: flex;
        align-items: center;
        gap: 10px;

        cursor: pointer;
        transition: transform ease 0.3s;

        &:hover{
            filter: brightness(0.9);
            transform: translateY(-2px);
        }

    }
}

.divs{
    display: flex;
    gap: 30px;

    margin-top: 40px;
    div{
        width: 16rem;
        border: 1px solid #e0e0e0;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        padding: 1rem;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;


        background-color: #ffffff;

        transition: transform 0.2s;

        h3{
            margin-bottom: 0rem;

        }

        &:hover{
            transform: translateY(-5px);   
            box-shadow: 2px 8px 16px rgba(0, 0, 0, 0.1);
        }
        .icons{
            display: flex;
            justify-content: center;
            align-items: center;
            background: var(--gradient_main);
            color: #ffffff;
            width: 3rem;
            height: 3rem;
            border-radius: 50%;
            padding: 10px;

            .icon{
                width: 2rem;
                height: 2rem;
            }
        }


    }
}

.subtitle{
    font-size: 1.2rem;
    color: #555;
    text-align: center;
    max-width: 800px;
}
