header{
    position: relative;
    top: 0;
    left: 0;
    right: 0;

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 30px;
    background-color: #f8f8f8;
    border-bottom: 1px solid #e0e0e0;

    box-shadow: 5px 5px 16px rgba(94, 93, 93, 0.75);
}

.nav-buttons{
    display: flex;
    gap: 30px;
}

a{
    text-decoration: none;
    color: #333;
    font-weight: bold;
    font-size: 18px;
}